body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.app-container {
  display: flex;
  height: 100vh;
  margin-left: 250px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}